section.cta{
    background-image: url(../images/hero-large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;

    .cta-container {
        height: 100%;
        width: 50%;
        .flex(column, center, center);

        h1 {
            font-size: 7rem;
            color: @main-font-color;

            @media (max-width: 1270px){
                font-size: 5rem;
            }

            @media @tablet {
                font-size: 4rem;
            }
        }

        .btn-container {
            width: 100%;
            .flex(row, center, center);

            .btn {
                .custom-btn(25%, 3rem);

                &:hover {
                    background-color: @button-bg-hover;
                }

                @media @tablet {
                    font-size: 2rem;
                }
            }
        }

        @media (max-width: 1550px){
            width: 60%;
        }

        @media @tablet {
            width: 75%;
        }
    }

    @media @tablet {
        height: 50vh;
    }
}