footer {
    .flex(row, space-evenly, center);
    background-color: @header-bg;
    padding: 3rem;

    a.logo {
        width: 10%;

        @media @tablet {
            width: 20%;
        }

        @media @mobile {
            width: 40%;
        }
    }
    
    a {
        color: @main-font-color;
        margin: 1rem;
    }

    @media @mobile {
        flex-direction: column;
    }
}