header {
    .flex(row, space-around, center);
    background-color: @header-bg;
    color: @h-color;

    h2 {
        font-size: 5rem;

        a {
            color: @h-color;
        }
    }

    nav {
        width: 25%;
        .flex(row, space-evenly, center);
        padding: 2rem 0;

        a {
            color: @h-color;
            margin: 0 1rem;
            color: darken(@white, 10%);
            padding: 1.5rem 0;
            font-size: 2.5rem;

            &:hover {
                color: @h-color;
                .animate-up(-0.5rem, 0.5s);
            }
        }
    }
}