// Colors
@snow: #FFFBFE;
@junebud: #C5D86D;
@mossgreen: #90A959;
@grey: #7D7C84;
@richblack: #050404;

@lightgreen: #29E05B;
@darkgreen: #34CC5C;
@white: #ECFFF1;

@header-bg: @snow;
@body-bg: @white;
@h-color: @snow;
@main-font-color: @darkgreen;
@button-bg: @junebud;
@button-bg-hover: @mossgreen;
@border-color: @lightgreen;
@cta-color: @white;

// Fonts
@h-font: 'Walter Turncoat', cursive;
@main-font: 'Lato', sans-serif;
@cta-font: 'Mada', sans-serif;

// Media
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";